{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/estilo.css" %}'>
    <title>Juego Chaco</title>
</head>


<body>
    <header>
        <img src="{% static 'img/info.png' %}" alt="Imagen del Informatorio">
        <nav class="navHeader">
            <ul class="navHeader__menu">
                <li class="navHeader__item"><a href="{% url 'home' %}">Home</a></li>
               {%if user.is_authenticated%}
               <li class="navHeader__item"><a href="{% url 'logout' %}">Logout</a></li>
               <li class="navHeader__item"><a href="{% url 'jugar' %}">Jugar</a></li>
                
                {%else%}
                <li class="navHeader__item"><a href="{% url 'login' %}">Jugar</a></li>
                <li class="navHeader__item"><a href="{% url 'login' %}">Login</a></li>
                <li class="navHeader__item"><a href="{% url 'registro' %}">Registrate</a></li>
                {%endif%}
            </ul>
        </nav>
    </header>
    {%block contenido %}
    <div class="imagenFondo">
    </div>


    
    {%endblock contenido %}
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>